#about .text-2{
    font-weight:600;
    margin-bottom:10px !important;
    position: relative;
}
#about .text-2:before{
    position:absolute;
    content:'';
    top:calc(100% + 5px);
    left:50%;
    transform: translateX(-50%);
    width:60%;
    height:2px;
    background:rgb(230, 227, 227);
}
#home .text-1{
    font-style:italic;
    color: white;
    font-size: 27px;
    font-weight: 600;
}
#about {
    padding:80px 80px 30px 80px;
}
#about .heading{
    font-size:25px;
    text-transform: none;
    margin-bottom:50px;
    position: relative;
    width:fit-content;
}
#about .heading:before{
    position:absolute;
    content: '';
    left:0;
    top:calc(100% + 20px);
    height:1px;
    width:150px;
    background:#f0f0f0;
}
#about .content p{
    font-size:14px;
    line-height:25px;
    margin-bottom:20px;
    text-align: justify;
}
@media screen and (max-width:950px){
    #about{
        padding-inline:50px;
    }
}
@media screen and (max-width:600px){
    #about{
        padding-inline:30px;
    }
}
#home{
        height:100vh;
        background:url('images/about.jpg') no-repeat , center;
        background-size:cover;
        padding:50px 0;
}