/* used colors */
:root{
    --red : red;
    --crimson : crimson;
    --blue : blue;
    --darkblue : darkblue;
    --orange : orange;
    --black : black;
    --grey : grey;
    --ccc : #ccc;
    --white : white;
    --brown : brown;
    --green : green;
    --lime : lime;
}
