.orderlist{
  padding-left: 40px;
}
.content .contact-btn{
  border: 2px solid black;
  padding: 10px 15px;
  background-color: var(--crimson);
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  transition: all 0.5s;
}
.content .contact-btn:hover{
  background-color:var(--grey) ;
  
}